@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button {
    font-family: 'Rancho', cursive;
    font-weight: 400;
    font-style: normal;
  }

  body {
    font-family: 'Raleway', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}

@layer components {
  .btn-add-coffee {
    @apply bg-[#E3B577] py-2 rounded px-3.5 flex gap-2 border items-center hover:bg-transparent transition duration-150 ease-out hover:ease-in;
  }

  .btn-add-update {
    @apply w-full bg-[#D2B48C] py-2.5 rounded text-2xl border hover:bg-transparent transition duration-150 ease-out hover:ease-in;
  }
}
